@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/copyfonts.com_gotham-light.woff2") format("woff2"), url("../fonts/gotham/copyfonts.com_gotham-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/copyfonts.com_gotham-medium.woff2") format("woff2"), url("../fonts/gotham/copyfonts.com_gotham-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* ::::::::: font logo :::::::::::*/
@font-face {
  font-family: "design-first";
  src: url("../fonts/design-first/design-first.eot");
  src: url("../fonts/design-first/design-first.eot?#iefix") format("embedded-opentype"), url("../fonts/design-first/design-first.woff") format("woff"), url("../fonts/design-first/design-first.ttf") format("truetype"), url("../fonts/design-first/design-first.svg#design-first") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "design-first" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "design-first" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo-design-first:before {
  content: "\61";
  visibility: visible; }

/* variables */
/* hover links */
/* Magic Flex */
/* reset */
/* layout */
.container, .content, .parallax-wrap, .wrap-master-list {
  height: 100%; }

.content {
  padding: 0 5%; }

/* titles */
/* center div */
/* nolist */
/* simple transition */
.con {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  top: 0;
  animation-name: elements;
  animation-duration: 1s; }

.stripes {
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); }

.stripes2 {
  width: 4000px;
  height: 4000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg); }

.st1 {
  background: rgba(255, 204, 0, 0.3);
  height: 100px;
  margin-bottom: -20px;
  animation: st1an 40s linear 2s infinite alternate; }

.st2 {
  background: rgba(239, 192, 6, 0.4);
  height: 80px;
  margin-bottom: -18.75px;
  animation: st2an 55s linear 2s infinite alternate; }

.st3 {
  background: rgba(251, 222, 107, 0.3);
  height: 120px;
  margin-bottom: -30px;
  animation: st3an 35s linear 0s infinite alternate; }

.st4 {
  background: rgba(226, 202, 66, 0.3);
  height: 40px;
  margin-bottom: -20px;
  animation: st4an 70s linear 1s infinite alternate; }

.st5 {
  background: rgba(241, 220, 105, 0.4);
  height: 60px;
  margin-bottom: -11.2px;
  animation: st5an 78s linear 10s infinite alternate; }

.st6 {
  background: rgba(234, 203, 58, 0.3);
  height: 140px;
  margin-bottom: -40px;
  animation: st6an 30s linear 0s infinite alternate; }

@keyframes st1an {
  from {
    transform: scale(7, 7); }
  to {
    transform: scale(1, 1); } }

@keyframes st2an {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(7, 7); } }

@keyframes st3an {
  from {
    transform: scale(4, 4); }
  to {
    transform: scale(2, 2); } }

@keyframes st4an {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(7, 7); } }

@keyframes st5an {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(3, 3); } }

@keyframes st6an {
  from {
    transform: scale(8, 8); }
  to {
    transform: scale(1, 1); } }

@keyframes elements {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes buttonWorks {
  from {
    opacity: 0;
    margin-bottom: 1.5em; }
  to {
    opacity: 1;
    margin-bottom: 0; } }

/* media query trick */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative; }

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
  color: #333;
  min-width: 340;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

/* default styles */
*, *:before, *:after {
  box-sizing: border-box; }

* {
  outline: none;
  padding: 0;
  margin: 0;
  border: 0; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal; }

img {
  width: 100%;
  display: block; }

h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 0.6em 0;
  font-family: 'gotham_mediumregular'; }
  @media (max-width: 60em) {
    h1 {
      font-size: 3em; } }

h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 200;
  line-height: normal;
  margin: 0 0 1em 0;
  font-family: 'gotham_lightregular'; }
  @media (max-width: 60em) {
    h2 {
      font-size: 2em; } }

p {
  margin: 1.5em 0;
  font-weight: 300; }

/* links */
a:link {
  color: #cccccc;
  text-decoration: none; }

a:visited {
  color: #cccccc; }

a:hover {
  color: #eaeaea; }

/* ::::::::::::: MAIN STRUCTURE ::::::::::::: */
/* header */
.navbar-toggle .bar1, .navbar-toggle .bar2, .navbar-toggle .bar3 {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7; }

.top-bar .sub-wrap {
  position: fixed;
  top: 1.5em;
  left: 0;
  width: 100%;
  height: 3.5em;
  padding: 0 3%;
  z-index: 100;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap; }
  @media (max-width: 30em) {
    .top-bar .sub-wrap {
      height: 3em; } }
  .top-bar .sub-wrap .brand {
    width: 3.5em;
    position: relative;
    z-index: 20;
    height: inherit; }
    .top-bar .sub-wrap .brand a {
      display: block;
      height: inherit;
      font-size: 3.5em;
      color: rgba(0, 0, 0, 0.7);
      line-height: normal;
      visibility: hidden; }
      @media (max-width: 30em) {
        .top-bar .sub-wrap .brand a {
          font-size: 3em; } }
    @media (max-width: 30em) {
      .top-bar .sub-wrap .brand {
        width: 3em; } }

.top-bar nav {
  background-color: rgba(0, 0, 0, 0.8); }
  .top-bar nav a {
    color: #ffffff;
    font-family: 'gotham_mediumregular';
    transition-duration: 0.3s; }
    @media (max-width: 45em) {
      .top-bar nav a {
        font-size: 2em; } }
  .top-bar nav a:hover {
    color: #ff9900; }

.navbar-on .bar1, .navbar-on .bar2, .navbar-on .bar3 {
  background-color: #ffffff;
  opacity: 0.7; }

.navbar-on .brand a {
  color: #ff9900; }

/* tag lines */
.parallax-wrap .taglines {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  padding-right: 7%;
  padding-top: 23vh;
  position: relative; }
  @media (max-width: 90em) {
    .parallax-wrap .taglines {
      padding-top: 25vh; } }
  @media (max-width: 60em) {
    .parallax-wrap .taglines {
      padding-top: 35vh; } }
  @media (max-width: 30em) {
    .parallax-wrap .taglines {
      display: block; } }
  @media (max-height: 60em) {
    .parallax-wrap .taglines {
      padding-top: 25vh; } }
  .parallax-wrap .taglines h2.minor {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 200;
    line-height: normal;
    margin: 0 0 0 0;
    font-family: 'gotham_lightregular';
    text-align: right;
    font-size: 3.2em;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 15px; }
    @media (max-width: 90em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 2.6em; } }
    @media (max-width: 75em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 2.4em; } }
    @media (max-width: 60em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 1.7em; } }
    @media (max-width: 45em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 1.2em;
        margin-right: 0; } }
    @media (max-width: 30em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 1.2em;
        margin-bottom: 0.5em;
        transform: translateX(-4px);
        line-height: 1.2em; } }
    @media (max-height: 60em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 2.4em; } }
    @media (max-height: 45em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 1.8em; } }
    @media (max-height: 30em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 1.35em; } }
    @media (max-width: 60em) and (max-height: 60em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 1.7em; } }
    @media (max-width: 60em) and (max-height: 45em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 1.35em; } }
    @media (max-width: 45em) and (max-height: 60em) {
      .parallax-wrap .taglines h2.minor {
        font-size: 1.15em; } }
  .parallax-wrap .taglines h1.major {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 0 0;
    font-family: 'gotham_mediumregular';
    font-size: 12em;
    line-height: 0.85em; }
    .parallax-wrap .taglines h1.major span {
      color: rgba(0, 0, 0, 0.7); }
      .parallax-wrap .taglines h1.major span em {
        font-style: normal; }
    .parallax-wrap .taglines h1.major span:first-of-type {
      color: #c44156; }
    .parallax-wrap .taglines h1.major span:last-of-type {
      text-align: right; }
    @media (max-width: 90em) {
      .parallax-wrap .taglines h1.major {
        font-size: 10em; } }
    @media (max-width: 75em) {
      .parallax-wrap .taglines h1.major {
        font-size: 9em; } }
    @media (max-width: 60em) {
      .parallax-wrap .taglines h1.major {
        font-size: 6.5em; } }
    @media (max-width: 45em) {
      .parallax-wrap .taglines h1.major {
        font-size: 4.5em; } }
    @media (max-width: 30em) {
      .parallax-wrap .taglines h1.major {
        text-align: right; } }
    @media (max-height: 60em) {
      .parallax-wrap .taglines h1.major {
        font-size: 9em; } }
    @media (max-height: 45em) {
      .parallax-wrap .taglines h1.major {
        font-size: 7em; } }
    @media (max-height: 30em) {
      .parallax-wrap .taglines h1.major {
        font-size: 5em; } }
    @media (max-width: 60em) and (max-height: 60em) {
      .parallax-wrap .taglines h1.major {
        font-size: 6.5em; } }
    @media (max-width: 60em) and (max-height: 45em) {
      .parallax-wrap .taglines h1.major {
        font-size: 5em; } }
    @media (max-width: 45em) and (max-height: 60em) {
      .parallax-wrap .taglines h1.major {
        font-size: 4.3em; } }
  .parallax-wrap .taglines span {
    display: block; }

/* button works */
.button-works {
  position: absolute;
  display: block;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 30%;
  color: #ffffff;
  padding-left: 4em;
  animation-name: buttonWorks;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  cursor: pointer; }
  @media (max-width: 90em) {
    .button-works {
      bottom: 20%; } }
  @media (max-width: 75em) {
    .button-works {
      bottom: 10%; } }
  @media (max-width: 60em) {
    .button-works {
      display: none; } }
  .button-works span.text {
    display: block;
    padding-right: 1.5em;
    font-size: 1.3em;
    line-height: 0em;
    text-transform: uppercase;
    font-weight: 200; }
  .button-works span.st {
    font-size: 6em;
    line-height: 0.8em;
    padding-right: 0.3em;
    position: relative;
    bottom: 0;
    transition-duration: 0.3s; }
  .button-works span.st:hover {
    bottom: 0.1em; }

.face {
  width: 95vh;
  margin: 0 auto;
  position: absolute;
  bottom: -9vh;
  left: 0;
  right: 0; }
  @media (max-width: 105em) {
    .face {
      width: 85vh; } }
  @media (max-width: 90em) {
    .face {
      width: 75vh; } }
  @media (max-width: 75em) {
    .face {
      width: 65vh; } }
  @media (max-width: 60em) {
    .face {
      width: 55vh; } }
  @media (max-width: 45em) {
    .face {
      width: 40vh; } }
  @media (max-width: 30em) {
    .face {
      width: 75%; } }
  @media (max-width: 75em) and (max-height: 60em) {
    .face {
      width: 75vh; } }
  @media (max-width: 60em) and (max-height: 60em) {
    .face {
      width: 65vh; } }
  @media (max-width: 45em) and (max-height: 60em) {
    .face {
      width: 75%; } }
  .face img {
    width: 100%;
    height: auto;
    position: relative; }

/* content */
body.home .content {
  padding-top: 6.5em;
  background-color: #ff9900;
  padding-left: 0;
  padding-right: 0; }

/* worklist */
.wrap-ajax {
  position: relative;
  background-color: #ffffff;
  height: 2000px; }

.project-detail {
  background-color: #ddd;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  list-style: none;
  position: absolute;
  left: 0;
  top: -100%;
  opacity: 0; }
  .project-detail .detail {
    background-color: #ddd; }

.loading {
  width: 2em;
  height: 2em;
  background: url(../images/loading.gif) no-repeat top center/contain;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  z-index: 600; }

/*# sourceMappingURL=frontend.css.map */
