nav,
.navbar-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.nav-hide { display: none; }

nav ul {
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

nav ul li {
  list-style: none;
  padding: 0.2em 0;
}

nav ul li a {
  font-size: 35pt;
  color: inherit;
  text-decoration: none;
}

.navbar-toggle {
  position: relative;
  width: 28px;
  height: 17px;
  z-index: 20;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.bar2{
  margin-left: -5px;
}

.bar3{
  margin-bottom: 0;
}

.navbar-on .bar1 {
  transform-origin: 17% 40%;
  transform: rotate(45deg);
}

.navbar-on .bar3 {
  transform-origin: 12% 40%;
  transform: rotate(-45deg);
}

.navbar-on .bar2 { background-color: transparent !important; }
