@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/copyfonts.com_gotham-light.woff2") format("woff2"), url("../fonts/gotham/copyfonts.com_gotham-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/copyfonts.com_gotham-medium.woff2") format("woff2"), url("../fonts/gotham/copyfonts.com_gotham-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* ::::::::: font logo :::::::::::*/
@font-face {
  font-family: "design-first";
  src: url("../fonts/design-first/design-first.eot");
  src: url("../fonts/design-first/design-first.eot?#iefix") format("embedded-opentype"), url("../fonts/design-first/design-first.woff") format("woff"), url("../fonts/design-first/design-first.ttf") format("truetype"), url("../fonts/design-first/design-first.svg#design-first") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "design-first" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "design-first" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo-design-first:before {
  content: "\61";
  visibility: visible; }

/* variables */
/* hover links */
/* Magic Flex */
/* reset */
/* layout */
.container, .content, .parallax-wrap, .wrap-master-list {
  height: 100%; }

.content {
  padding: 0 5%; }

/* titles */
/* center div */
/* nolist */
/* simple transition */
/* media query trick */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative; }

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #ffd940;
  margin: 0;
  color: #333;
  min-width: 340;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

/* default styles */
*, *:before, *:after {
  box-sizing: border-box; }

* {
  outline: none;
  padding: 0;
  margin: 0;
  border: 0; }

.content {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 75em; }
  .content .wrapper {
    background: url("../images/404-img.jpg") no-repeat center right;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: initial;
    align-content: initial;
    height: 100%; }
    @media (max-width: 60em) {
      .content .wrapper {
        -ms-flex-pack: center;
        justify-content: center;
        background-position: bottom;
        padding-bottom: 10em; } }
    .content .wrapper .col {
      color: rgba(0, 0, 0, 0.7); }
      .content .wrapper .col h1 {
        text-transform: uppercase;
        font-size: 3em;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 0.6em 0;
        font-family: 'gotham_mediumregular';
        font-size: 8em;
        text-transform: uppercase; }
        .content .wrapper .col h1 span {
          display: block; }
        .content .wrapper .col h1 span:nth-child(2) {
          font-size: 1.02em; }
        .content .wrapper .col h1 span:nth-child(3) {
          font-size: 0.83em; }
        @media (max-width: 45em) {
          .content .wrapper .col h1 {
            font-size: 6em; } }
      .content .wrapper .col a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7); }
        .content .wrapper .col a span.st {
          font-size: 1.8em;
          top: 0.25em;
          left: 0;
          position: relative;
          transition-duration: 0.3s; }
      .content .wrapper .col a:hover span.st {
        left: 0.5em; }

/*# sourceMappingURL=page404.css.map */
