@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/media-queries";

body{
	font-family: 'Poppins', sans-serif;
	padding-top: 30px;
}
*, *:before, *:after {
	box-sizing: border-box;
}
img {
	width: 100%;
	display: block;
}
.nopadding{
	padding-right:0;
	padding-left:0;
}

.content{
	margin: 50px 0;
}
footer{
	p{
		padding: 15px;
		margin: 0;
		text-align: center;
	}
}
h1{
	margin-bottom: 40px;
}
.logo.navbar-header{
	width: auto;
	height: 100%;

	.navbar-brand{height: initial;
		font-size: 0;
		padding:5px;
		margin-left: 0 !important;
		height: 70px;
		visibility: hidden;
		padding-top: 10px;
	}
	.navbar-brand:before{
		font-size: 50px;
	}
}
.navbar-collapse{
	ul.navbar-nav{	
		margin-top: 10px;

		li{
			margin: 0 5px;
		}
		li.welcome{
			a{
				cursor: default;
				color: initial;
			}
		} 
	}
}
.navbar-collapse.collapse.in, .navbar-collapse.collapsing{
	.navbar-right{
		border-top: 1px solid #e7e7e7;
		padding-top: 15px;
	}
}

.wrap-table{
	overflow-y: hidden;

	> table{
		min-width: 650px;
	}
}


.navbar-toggle{
	margin-top: 18px;
} 
.table-striped.table > tbody > tr > td{
	vertical-align: middle;
}
.form-edit, .form-deletion{
	display: inline;
}
.section-title{
	margin-bottom:40px;
}
.gallery{
	border-top:2px solid #ddd;
	border-bottom:2px solid #ddd;
	padding: 30px 0 30px;
	margin: 40px 0 10px;
	clear: both;
}
.delete-gallery-images{
	display: none;
}
ul.wrap-thumbs{
	list-style: none;
	padding: 0;
	@include displayFlex();
	@include flexWrap(wrap);
	@include justifyContent(center);
	
	.wrap-thumb{
		display: block;
	    cursor: move;
	    vertical-align: top;
	    list-style: none;
	    float: left;
	    margin: 10px 1%;
	    @include flexBasis(23%);

	    @include media(bpLarge){
			@include flexBasis(30%);	    	
	    }
		@include media(bpSmall){
			@include flexBasis(48%);	    	
	    }
	    @include media(bpExtraSmall){
			@include flexBasis(100%);
			margin-left:0;
			margin-right:0; 
	    }
		
		.cool-checkbox{
			position:relative;
			
			.btn-group{
				position: absolute;
			    top: 27px;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			    width: 55px;

				.btn{
					padding: 4px 8px;
					font-size: 10px;
				}
				.btn:focus{
					outline: none !important;
				}
			}
			.btn-group:focus{
				outline: none !important;
			}
		}
		.thumb{
			display: inline-block;
			border: 1px solid #ddd;
			padding: 11px;
			border-radius: 9px;
			width: 100%;
			height: auto;
			overflow: hidden;
		}
		.thumb.gallery{
			padding: 26px 10px 10px 10px;
			background-color: white;
		}
	}
}
ul:after{
	content: '';
	clear: both;
	display: block;
}

// Media

.filter{
	margin-bottom: 30px;
}

.wrap-projects{
	margin-top: 60px;
	padding-left: 0;

	li{
		list-style: none;
		.wrap-thumb{
			cursor: initial;
		}
	}
}

.sidebar{
	margin-bottom: 30px;

	form{
		margin-top: 10px;

		a{
			margin-bottom: 10px;
			@include media(bpMedium){
				margin-bottom: 0;
			}
		}
	} 
}
