@import "partials/fonts"; 
@import "partials/variables";
@import "partials/mixins";
@import "partials/background-animation";
@import "partials/media-queries";

body, html{
	margin: 0;
	padding: 0;
	width:100%;
	height: 100%;
	min-height:100%;
	position:relative; 
}

 body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    margin: 0;
    color: #333;
    min-width: 340;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

/* default styles */ 
*, *:before, *:after {box-sizing: border-box;}
*{outline:none; padding:0; margin:0; border:0;}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

img {
    width: 100%;
    display: block;
}

h1{
    @include h1(0, 0, 0.6em, 0);
    @include media(bpMedium){
        font-size: 3em;
    }

}
h2{
    @include h2(0, 0, 1em, 0);
    @include media(bpMedium){
        font-size: 2em;
    }
}

p{
    margin: 1.5em 0;
    font-weight: 300;
}

/* links */
a:link{
    color: $lightGrey;
    text-decoration: none;
}
a:visited{
    color: $lightGrey;
}
a:hover{
    color: $lightGrey + 30; 
}

/* ::::::::::::: MAIN STRUCTURE ::::::::::::: */


.container{

}


/* header */

.navbar-toggle{
	
	.bar1, .bar2, .bar3{
		background-color: rgba(0, 0, 0, $opacity);
		opacity: $opacity;
	}
}

.top-bar{
	.sub-wrap{
		position: fixed;
		top: 1.5em;
		left: 0;
		width: 100%;
		height: $offset;
		padding: 0 3%;
		z-index: 100;
		@include displayFlex();
		@include alignItems(center);
		@include justifyContent(space-between);
		@include flexWrap(no-wrap);
		@include media(bpExtraSmall){
			height: $offset - 0.5;
		}

		.brand{
			width: $offset;
			position: relative;
			z-index: 20;
			height: inherit;

	    	a{
	    		display: block;
	    		height: inherit;
	    		font-size: $offset;
				color: rgba(0, 0, 0, $opacity);
				line-height: normal;
				visibility: hidden;

				@include media(bpExtraSmall){
					font-size: $offset - 0.5;
				}	
	    	}
	    	@include media(bpExtraSmall){
				width: $offset - 0.5;
			}
	    }
	}
	nav{
		background-color: rgba(0, 0, 0, $opacity + 0.1);

		a{
			color: $white;
			font-family: 'gotham_mediumregular';
			@include anima();
			@include media(bpSmall){
				font-size: 2em;
			}
		}
		a:hover{color: $bgHue}
	}
}
.navbar-on{
	.bar1, .bar2, .bar3{
		background-color: $white;
		opacity: $opacity;
	}
	.brand{
		a{
			color: $bgHue;
		}
	}
	nav{}
}

/* tag lines */ 

.parallax-wrap{
	.taglines{
		@include displayFlex();
		@include justifyContent(flex-end);
		@include flexWrap(no-wrap);
		padding-right:7%;
		padding-top: 23vh;
		position: relative;
		@include media(bpExtraLarge){
			padding-top: 25vh;
		}
		@include media(bpMedium){
			padding-top: 35vh;
		}
		// width
		@include media(bpExtraSmall){
			display: block;
		}

		// height
		@include media(bpMediumHeight){
			padding-top: 25vh;
		}

		h2.minor{
			@include h2(0, 0, 0, 0);
			text-align: right;
			font-size: 3.2em;
			color: rgba(0, 0, 0, $opacity);
			margin-right: 15px;

			// width
			@include media(bpExtraLarge){
				font-size: 2.6em;
			}
			@include media(bpLarge){
				font-size: 2.4em;
			}
			@include media(bpMedium){
				font-size: 1.7em;
			}
			@include media(bpSmall){
				font-size: 1.2em;
				margin-right:0;
			}
			@include media(bpExtraSmall){
				font-size: 1.2em;
			    margin-bottom: 0.5em;
			    -webkit-transform: translateX(-4px);
			    transform: translateX(-4px);
			    line-height: 1.2em;
			}

			// height
			@include media(bpMediumHeight){
				font-size: 2.4em;
			}
			@include media(bpSmallHeight){
				font-size: 1.8em;
			}
			@include media(bpExtraSmallHeight){
				font-size: 1.35em;
			}

			// width & height
			@include media (mediumWmediumH){
				font-size: 1.7em
			}
			@include media (mediumWsmallH){  
				font-size: 1.35em
			}
			@include media (smallWmediumH){  
				font-size: 1.15em; 
			}
			
		}
		h1.major{
			@include h1(0, 0, 0, 0);
			font-size: 12em;
			line-height: 0.85em;
			
			span{color: rgba(0, 0, 0, $opacity);
				em{
					font-style: normal;
				}
			}
			span:first-of-type{color: $mainHue;}
			span:last-of-type{text-align: right;}
			
			// width
			@include media(bpExtraLarge){
				font-size: 10em;
			}
			@include media(bpLarge){
				font-size: 9em;
			}
			@include media(bpMedium){
				font-size: 6.5em;
			}
			@include media(bpSmall){
				font-size: 4.5em;
			}
			@include media(bpExtraSmall){
				text-align: right;
			}

			// height
			@include media(bpMediumHeight){
				font-size: 9em;
			}
			@include media(bpSmallHeight){
				font-size: 7em;
			}
			@include media(bpExtraSmallHeight){
				font-size: 5em;
			}

			// width & height
			@include media (mediumWmediumH){
				font-size: 6.5em; 
			}
			@include media (mediumWsmallH){  
				font-size: 5em; 
			}
			@include media (smallWmediumH){  
				font-size: 4.3em; 
			}

		}
		span{display: block;}
	}
}

/* button works */
.button-works{
	position: absolute;
	display: block;
	margin: 0 auto;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 30%;
	color: $white;
	padding-left: 4em;
	-webkit-animation-name: buttonWorks;
	animation-name: buttonWorks;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
	cursor: pointer;

	@include media(bpExtraLarge){
		bottom: 20%;
	}
	@include media(bpLarge){
		bottom: 10%;
	}
	@include media(bpMedium){
		display: none;
	}

	span.text{
		display: block;
	    padding-right: 1.5em;
	    font-size: 1.3em;
	    line-height: 0em;
	    text-transform: uppercase;
	    font-weight: 200;
	}
	span.st{
		font-size: 6em;
	    line-height: 0.8em;
	    padding-right: 0.3em;
	    position: relative;
	    bottom: 0;
	    @include anima();
	}
	span.st:hover{
		bottom: 0.1em;
	}
}


.face{
	width: 95vh;
	margin:0 auto;
	position: absolute;
	bottom: -9vh;
	left: 0;
	right: 0;
	
	// width
	@include media(bpExtraExtraLarge){
		width: 85vh;
	}
	@include media(bpExtraLarge){
		width: 75vh;
	}
	@include media(bpLarge){
		width: 65vh;
	}
	@include media(bpMedium){
		width: 55vh;

	}
	@include media(bpSmall){
		width: 40vh;

	}
	@include media(bpExtraSmall){
		width: 75%;
	}

	// width & height	
	@include media (largeWmediumH){  
		width: 75vh;
	}
	@include media (mediumWmediumH){  
		width: 65vh;
	}
	@include media (smallWmediumH){  
		width: 75%;
	}
	img{
		width: 100%;
		height: auto;
		position: relative; 
	}
}

/* content */
body.home{
	.content{
		padding-top: $offset + 3;
		background-color: $bgHue;
		padding-left: 0;
		padding-right: 0;
	}
}

/* worklist */
.wrap-ajax{
	position: relative;
	background-color: $white;
	height: 2000px;

	.worklist{
		
	}

}

.project-detail{
	background-color: #ddd;
	padding:0;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	width:100%;
	height: 100%;
	list-style:none;
	position:absolute;
	left: 0;
	top:-100%;
	opacity: 0;

	.detail{
		background-color: #ddd;
	}
}

.loading{
	width: $offset - 1.5;
	height: $offset - 1.5;
	background: url(../images/loading.gif) no-repeat top center / contain;
	position: fixed;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	display: block;
	margin:auto;
	z-index: 600;
}
