@import "partials/fonts"; 
@import "partials/variables";
@import "partials/mixins";
@import "partials/media-queries";

body, html{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    min-height:100%;
    position:relative;
}

 body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #ffd940;
    margin: 0;
    color: #333;
    min-width: 340;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}


/* default styles */ 
*, *:before, *:after {box-sizing: border-box;}
*{outline:none; padding:0; margin:0; border:0;}


//content
.content {
    padding-left: 0;
    padding-right: 0;
    @include layoutSchema();
    .wrapper{
        background: url('../images/404-img.jpg') no-repeat center right;
        @include wrapperCols(flex-start, wrap, center, initial);
        @include media(bpMedium){
            justify-content: center;
            background-position: bottom;
            padding-bottom: 10em;
        }

        .col{
            color: rgba(0, 0, 0, $opacity);
            h1{
                @include h1(0, 0, 0.6em, 0);
                font-size: 8em;
                text-transform: uppercase;

                span{
                    display: block;
                }
                span:nth-child(2){
                    font-size: 1.02em;
                }
                span:nth-child(3){
                    font-size: 0.83em;
                }
                
                @include media(bpSmall){
                    font-size:6em;
                }
            }
            a{
                text-decoration: none;
                color: rgba(0, 0, 0, $opacity);

                span.st{
                    font-size: 1.8em;
                    top: 0.25em;
                    left: 0;
                    position: relative;
                    @include anima();
                }
            }
            a:hover{
                span.st{
                    left: 0.5em;
                }
            }
        }

    }
}
