.con{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	top: 0;
	-webkit-animation-name: elements;
	animation-name: elements;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.stripes{
	width: 2000px;
	height: 2000px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
}

.stripes2{
	width: 4000px;
	height: 4000px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}

.st1{
	background: rgba(255, 204, 0, 0.3);
	height: 100px;
	margin-bottom: -20px;
	-webkit-animation: st1an 40s linear 2s infinite alternate;
	animation: st1an 40s linear 2s infinite alternate;
}

.st2{
	background: rgba(239, 192, 6, 0.4);
	height: 80px;
	margin-bottom: -18.75px;   
	-webkit-animation: st2an 55s linear 2s infinite alternate;
	animation: st2an 55s linear 2s infinite alternate;
}

.st3{
	background: rgba(251, 222, 107,0.3);
	height: 120px;
	margin-bottom: -30px;
	-webkit-animation: st3an 35s linear 0s infinite alternate; 
	animation: st3an 35s linear 0s infinite alternate;
}

.st4{
	background: rgba(226, 202,66,0.3);
	height: 40px;
	margin-bottom: -20px;
	-webkit-animation: st4an 70s linear 1s infinite alternate;
	animation: st4an 70s linear 1s infinite alternate;
}

.st5{
	background: rgba(241, 220, 105,0.4);
	height: 60px;
	margin-bottom: -11.2px;
	-webkit-animation: st5an 78s linear 10s infinite alternate;
	animation: st5an 78s linear 10s infinite alternate;
}

.st6{
	background: rgba(234, 203,58,0.3);
	height: 140px;
	margin-bottom: -40px;
	-webkit-animation: st6an 30s linear 0s infinite alternate;
	animation: st6an 30s linear 0s infinite alternate;
}


// animations

@-webkit-keyframes st1an {
	from {-webkit-transform: scale(7,7)}
	to {-webkit-transform: scale(1,1)}
}

@keyframes st1an {
	from {transform: scale(7,7)}
	to {transform: scale(1,1)}
}

@-webkit-keyframes st2an {
	from {-webkit-transform: scale(1,1)}
	to {-webkit-transform: scale(7,7)}
}

@keyframes st2an {
	from {transform: scale(1,1)}
	to {transform: scale(7,7)}
}

@-webkit-keyframes st3an {
	from {-webkit-transform: scale(4,4)}
	to {-webkit-transform: scale(2,2)}
}

@keyframes st3an {
	from {transform: scale(4,4)}
	to {transform: scale(2,2)}
}

@-webkit-keyframes st4an {
	from {-webkit-transform: scale(1,1)}
	to {-webkit-transform: scale(7,7)}
}

@keyframes st4an {
	from {transform: scale(1,1)}
	to {transform: scale(7,7)}
}

@-webkit-keyframes st5an {
	from {-webkit-transform: scale(1,1)}
	to {-webkit-transform: scale(3,3)}
}

@keyframes st5an {
	from {transform: scale(1,1)}
	to {transform: scale(3,3)}
}

@-webkit-keyframes st6an {
	from {-webkit-transform: scale(8,8)}
	to {-webkit-transform: scale(1,1)}
}

@keyframes st6an {
	from {transform: scale(8,8)}
	to {transform: scale(1,1)}
}

@keyframes elements {
	from {opacity: 0;}
	to {opacity: 1;}
}


// homepage animations

@keyframes buttonWorks {
    from {opacity:0; margin-bottom: 1.5em;}
    to {opacity:1; margin-bottom:0;}
}
