@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham/copyfonts.com_gotham-light.woff2') format('woff2'),
         url('../fonts/gotham/copyfonts.com_gotham-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/gotham/copyfonts.com_gotham-medium.woff2') format('woff2'),
         url('../fonts/gotham/copyfonts.com_gotham-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ::::::::: font logo :::::::::::*/


@font-face {
  font-family: "design-first";
  src:url("../fonts/design-first/design-first.eot");
  src:url("../fonts/design-first/design-first.eot?#iefix") format("embedded-opentype"),
    url("../fonts/design-first/design-first.woff") format("woff"),
    url("../fonts/design-first/design-first.ttf") format("truetype"),
    url("../fonts/design-first/design-first.svg#design-first") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "design-first" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "design-first" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-design-first:before {
  content: "\61";
  visibility: visible;
}
