
/* media query trick */
@mixin media($point) {

  // height
  $bpExtraSmallHeight: "(max-height: 30em)";
  $bpSmallHeight: "(max-height: 45em)";
  $bpMediumHeight: "(max-height: 60em)";
  
  // width
  $bpExtraSmall: "(max-width: 30em)";
  $bpSmall: "(max-width: 45em)";
  $bpMedium: "(max-width: 60em)";
  $bpLarge: "(max-width: 75em)";
  $bpExtraLarge: "(max-width: 90em)";
  $bpExtraExtraLarge: "(max-width: 105em)";

  // width & height
  $largeWmediumH: $bpLarge + " and " + $bpMediumHeight;
  $mediumWmediumH: $bpMedium + " and " + $bpMediumHeight;
  $mediumWsmallH: $bpMedium + " and " + $bpSmallHeight;
  $smallWmediumH: $bpSmall + " and " + $bpMediumHeight;
  $smallWsmallH: $bpSmall + " and " + $bpMediumHeight;
  $extraSmallWsmallH: $bpExtraSmall + " and " + $bpSmallHeight;

  @if $point == largeWmediumH {
    @media #{$largeWmediumH} { @content; }  
  }
  @if $point == mediumWmediumH {
    @media #{$mediumWmediumH} { @content; }  
  }
  @if $point == mediumWsmallH {
    @media #{$mediumWsmallH} { @content; }  
  }
  @if $point == smallWmediumH {
    @media #{$smallWmediumH} { @content; }  
  }
  @if $point == smallWsmallH {
    @media #{$smallWsmallH} { @content; }  
  }
  @if $point == extraSmallWsmallH {
    @media #{$extraSmallWsmallH} { @content; }  
  }

  // height
  @if $point == bpExtraSmallHeight {
    @media #{$bpExtraSmallHeight} { @content; }
  }
  @if $point == bpSmallHeight {
    @media #{$bpSmallHeight} { @content; }
  }
  @if $point == bpMediumHeight {
    @media #{$bpMediumHeight} { @content; }
  }

  // width
  @if $point == bpExtraSmall {
    @media #{$bpExtraSmall} { @content; }
  }
  @if $point == bpSmall {
    @media #{$bpSmall} { @content; }
  }
  @else if $point == bpMedium {
    @media #{$bpMedium} { @content; }
  }
  @else if $point == bpLarge {
    @media #{$bpLarge}  { @content; }
  }
  @else if $point == bpExtraLarge {
    @media #{$bpExtraLarge}  { @content; }
  }
  @else if $point == bpExtraExtraLarge {
    @media #{$bpExtraExtraLarge}  { @content; }
  }
}