/* hover links */
@mixin hoverLink ($color){
  @if $color == $white {
    color: darken( $color, 10% );
  }
  @else{
    color:lighten( $color, 10% );
  }
}
/* Magic Flex */
@mixin displayFlex(){display: -webkit-box; display: -moz-box; display: -moz-flex; display: -ms-flexbox; display: -webkit-flex; display: flex;}
@mixin flexGrow($value){-webkit-flex-grow: $value; flex-grow: $value; -moz-flex-grow: $value; -ms-flex-grow: $value;}
@mixin justifyContent($value){-webkit-justify-content:$value; -moz-justify-content:$value;  -ms-justify-content:$value; justify-content:$value;}
@mixin flexWrap($value){-webkit-flex-wrap:$value; -moz-flex-wrap:$value; -ms-flex-wrap:$value; flex-wrap:$value;}
@mixin alignItems($value){-webkit-align-items:$value; -moz-align-items:$value; -ms-align-items:$value; align-items:$value;}
@mixin flexDirection($value){-webkit-flex-direction:$value; -moz-flex-direction:$value; -ms-flex-direction:$value; flex-direction:$value;}
@mixin alignSelf($value){-webkit-align-self:$value; -moz-align-self:$value; -ms-align-self:$value; align-self:$value;}
@mixin order($value){-webkit-order:$value; -moz-order:$value; -ms-order:$value; order:$value;}
@mixin alignContent($value){-ms-flex-line-pack: $value; align-content: $value;}
@mixin flexBasis($value){-ms-flex-preferred-size: $value;flex-basis: $value;}

/* reset */
@mixin lastChild(){margin-bottom: 0; border-bottom: 0; padding-bottom: 0;}

/* layout */
.container, .content, .parallax-wrap, .wrap-master-list{height: 100%;}
.content{padding:0 5%;}
@mixin layoutSchema(){width: 100%; height: 100%; margin: 0 auto; max-width: $layoutWidth;}
@mixin wrapperCols($justifyContent, $flexWrap, $alignItems, $alignContent){@include displayFlex(); @include justifyContent($justifyContent); @include flexWrap($flexWrap); @include alignItems($alignItems); @include alignContent($alignContent); height: 100%;}

/* titles */
@mixin h1($top, $right, $bottom, $left){text-transform:uppercase; font-size: $mainSize + 2; font-weight: 700; line-height: normal; margin:$top $right $bottom $left; font-family: 'gotham_mediumregular';}
@mixin h2($top, $right, $bottom, $left){text-transform:uppercase; font-size: $mainSize + 0.8; font-weight:200; line-height: normal; margin:$top $right $bottom $left; font-family: 'gotham_lightregular';}

/* center div */
@mixin centerWidth($maxWidth, $marginTop, $marginBottom){max-width: $maxWidth; margin-left: auto; margin-right:auto; margin-top: $marginTop; margin-bottom: $marginBottom;}

/* nolist */
@mixin nolist(){padding: 0; list-style: none; margin: 0;}

/* simple transition */
@mixin anima(){transition-duration: 0.3s;}
