/* variables */
$bgHue:     #ff9900; 
$mainHue:    #c44156;
$lightGrey:   #cccccc;
$borderColor: #dddddd;
$white:       #ffffff;
$mainSize:    1em;
$mainFont:    'Roboto', sans-serif;
$lineHeight:  1.5;
$layoutWidth: 75em;
$offset: 3.5em;
$opacity: 0.7;